Installation

* From webapp-dispatcher/pom.xml you should remove:

+-------------------------------+
    <dependency>
      <groupId>com.polopoly</groupId>
      <artifactId>webresource-compactor</artifactId>
      <version>${polopoly.version}</version>
      <type>jar</type>
    </dependency>
+-------------------------------+

  and replace it with:

+-------------------------------+
    <dependency>
      <groupId>com.atex.gong</groupId>
      <artifactId>webresource-compactor</artifactId>
      <version>${gong.version}</version>
      <type>jar</type>
    </dependency>
+-------------------------------+

